// Headers
$header-heading-color: #fff !default;
$header-bg-color: #5161ce !default;
$header-bg-color-secondary: #a043e8 !default;

// Text
$section-headings-color: #5161ce !default;

@import "{{ site.theme }}";